<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row mx-3">
      <div class="col-md-4">
        {{#each subtitle}}
        <h6 class="m-0 font-weight-bold text-primary">{{category_name}}</h6>
        {{/each}}
      </div>
      <div class="col-md-4">
      </div>
      <div class="col-md-4">
         <a class="btn btn-sm btn-primary" href="/viewProduct">Back</a>
      </div> 
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ProductName</th>
            <th>Image</th>
            <th>Rate</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each result}}
          <tr>
            <td>{{product_name}}</td>
            <td><img src="/{{image}}" width="100" height="50"></td>
            <td>{{price}}
              <button class="btn btn1" value="{{product_id}}"><i class="fa fa-edit"></i></button>
              <span class="div-hidden_{{product_id}}" style="display: none ;">
                <form action="/product/product_edit/{{product_id}}" class="d-block" method="post">
                  <input hidden="hidden" name="type" value="{{category_id}}">
                  <input type="text" name="price" value="{{price}}" size='4'>
                  <button type="submit" class="btn btn-sm d-inline"><i
                      class="fas fa-check-circle text-success"></i></button>
                </form>
                <button class="btn btn-sm mx-n2 d-inline btn2" value="{{product_id}}"><i
                    class="fas fa-times-circle text-danger"></i></button>
              </span>
            </td>
            <td>
              {{#ifEquals status 1}}<form action="/product/productStatus/{{product_id}}" method="post">
                <input type="hidden" name="status" value="0">
                <input hidden="hidden" name="type" value={{category_id}}>
                <input type="submit" class="btn btn-primary btn-sm " value="Active">
              </form>
              {{else}} <form action="/product/productStatus/{{product_id}}" method="post">
                <input type="hidden" name="status" value="1">
                <input hidden="hidden" name="type"  value={{category_id}}>
                <button type="submit" class="btn btn-danger btn-sm"> Inactive</button>
              </form>
              {{/ifEquals}}
            </td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>

</div>