
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <div class="row">
      <div class="col-md-4">
        {{#each subTitle}}
        <h6 class="m-1 font-weight-bold text-primary">{{category_name}}</h6>
        {{/each}}
      </div>
      <div class="col-md-4">
        {{#if msg}}
        <div class="alert alert-success m-0" id="success-alert" style="padding: 0px 1.25rem;">
          <button type="button" class="close" data-dismiss="alert" style="font-size: 1.2rem;">x</button>
          <strong>{{msg}}</strong> 
        </div>
        {{/if}}
      </div>
      <div class="col-md-4">
        <a class="btn btn-sm btn-primary" href="/viewStock">Back</a>
      </div>
    </div>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
        <thead>
          <tr>
            <th>ProductName</th>
            <th>Image</th>
            <th>Amount</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          {{#each result}}
          <tr>
            <td>{{product_name}}</td>
            <td><img src="/{{image}}" width="100" height="50"></td>
            <td>{{amount}} <button class="btn btn1" value="{{stock_id}}"><i class="fa fa-edit"></i></button>
              <span class="div-hidden_{{stock_id}}" style="display: none ;">
                <div class="d-block">
                  <form action="/product/stock_edit/{{stock_id}}" class="d-inline" method="post">
                    <input type="hidden" name="type" value="{{category_id}}">
                    <input type="hidden" name="name" value="{{product_name}}">
                    <input type="hidden" name="amount_first" value="{{amount}}">
                    <input type="hidden" name="product_id" value="{{product_id}}">
                    <input type="text" name="amount_second" value="{{amount}}" size='4'>
                    <button type="submit" class="btn btn-sm d-inline"><i
                        class="fas fa-check-circle text-success"></i></button>
                  </form>
                  <button class="btn btn-sm mx-n2 d-inline btn2" value="{{stock_id}}"><i
                      class="fas fa-times-circle text-danger"></i></button>
                </div>
              </span>

            </td>
            <td>

              {{#ifEquals status 1}} <form action="/product/stockStatus/{{stock_id}}" method="post">
                <input type="hidden" name="status" value="0">
                <input type="hidden" name="type" value="{{category_id}}">
                <input type="submit" class="btn btn-primary btn-sm " value="Active">
              </form>
              {{else}} <form action="/product/stockStatus/{{stock_id}}" method="post">
                <input type="hidden" name="status" value="1">
                <input type="hidden" name="type" value="{{category_id}}">
                <button type="submit" class="btn btn-danger btn-sm"> Inactive</button>
              </form>
              {{/ifEquals}}
            </td>
          </tr>
          {{/each}}

        </tbody>
      </table>
    </div>
  </div>

</div>

{{!-- <div class="col-md-1"></div>
<div class="col-md-10">
  <table class="table">
    <thead>
      <tr>
        <th>Product_Name</th>
        <th>Amount</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {{#each result }}
      <tr>
        <td class="align-middle">{{product_name}}</td>
        <td class="align-middle d-block">{{amount}} <button class="btn btn1" value="{{stock_id}}"><i
              class="fa fa-edit"></i></button>
          <span class="div-hidden_{{stock_id}}" style="display: none ;">
            <div class="d-block">
              <form action="product/stock_edit/{{stock_id}}" class="d-inline" method="post">
                <input type="hidden" name="amount_first" value="{{amount}}">
                <input type="hidden" name="product_id" value="{{product_id}}">
                <input type="text" name="amount_second" value="{{amount}}" size='4'>
                <button type="submit" class="btn btn-sm d-inline"><i
                    class="fas fa-check-circle text-success"></i></button>
              </form>
              <button class="btn btn-sm mx-n2 d-inline btn2" value="{{stock_id}}"><i
                  class="fas fa-times-circle text-danger"></i></button>
            </div>
          </span>

        </td>
        <td class="align-middle">{{#ifEquals status 1}} <form action="/product/stockStatus/{{stock_id}}"
            method="post">
            <input type="hidden" name="status" value="0">
            <input type="submit" class="btn btn-primary btn-sm " value="Active">
          </form>
          {{else}} <form action="/product/stockStatus/{{stock_id}}" method="post">
            <input type="hidden" name="status" value="1">
            <button type="submit" class="btn btn-danger btn-sm"> Inactive</button>
          </form>
          {{/ifEquals}}
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>

</div>
<div class="col-md-1"></div>
</div> --}}