<table class="table table-hover mx-2 my-4">
    <h5></h5>
    <thead>
        <tr>
            <th class="align-middle">Shipping_id</th>
            <th class="align-middle">FullName</th>
            <th class="align-middle">Address</th>
            <th class="align-middle">Phone</th>
            <th class="align-middle">Order_date</th>
            <th class="align-middle">Action</th>
            <th class="align-middle">View</th>

        </tr>
    </thead>
    <tbody>
        {{#each result}}
        <tr>
            <td>{{order_id}}</td>
            <td> {{#if_eq fullname 'Anonymous'}}
                {{name}}
                {{else}}
                {{fullname}}
                {{/if_eq}}
            </td>
            <td>{{city_name}},{{state}}</td>
            <td>{{phone}}</td>
            <td>{{date}}</td>
            <td>
               <form class="d-inline" action="/product/orderStatus/{{order_id}}" method="post">
                    <input type="hidden" name="status" value="2">
                    <input type="hidden" name="type" value="cenceling">
                    <button class="btn btn-sm btn-success">Process</button>
                </form>
                <form class="d-inline" action="/product/orderStatus/{{order_id}}" method="post">
                    <input type="hidden" name="status" value="5">
                    <input type="hidden" name="type" value="pending">
                    <button class="btn btn-sm btn-danger">Cancel</button>
                </form>
            </td>
            <td>
                <a href="/viewBill/{{order_id}}/{{fullname}}">View</a>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>